{% extends "shared/base.html" %}

{% block content %}

<h2>The Components of Face Recognition</h2>
<p>Here's a quick blurb about the purpose of the image understanding lab.</p>

<h3>What Makes Face Recognition so Difficult?</h3>
<ol>
  <li>Perceptually similar</li>
  <li>Must recognize faces across viewpoint, scale, and lighting conditions</li>
  <li>Requires a link from representation of face to memory of identity</li>
</ol>

<h3>Why This Test?</h3>
<p>Using the same match-to-sample paradigm, we can assess your competency with respect to each of these dimensions:</p>
<ol>
  <li>Perceptual similarity</li>
  <li>Memory</li>
  <li>Viewpoint invariance</li>
</ol>
<p>Consider memory and viewpoint independently from perceptual similarity <a href="">link to Gabor similarity web app</a>.</p>

<h2>About the Lab</h2>
<p>This is the USC Image Understanding Lab</p>

{% endblock %}
