{% extends "shared/base.html" %}

{% load static %}


{% block content %}
<h1>Register for the Study</h1>
<p>
  To register for the USC face study you will be required to provide your full name, email, age, and sex.
  Once you've registered and confirmed your email you'll be able to start taking the tests.
  When you're done, we'll send your results to the email you provide.
</p>
{% if errors %}
<p class="red">Error submitting form: {{ errors }}</p>
{% endif %}
<br>
<form id="register" method="post" action="#">
  {% csrf_token %}
  <div id="name" class="halves">
    <div class="half">
      <input id="first_name" name="first_name" type="text" placeholder="First" value="{{ form.first_name.value|default_if_none:"" }}">
      <label for="first_name">First name</label>
    </div>
    <div class="half">
      <input id="last_name" name="last_name" type="text" placeholder="Last" value="{{ form.last_name.value|default_if_none:"" }}">
      <label for="last_name">Last name</label>
    </div>
  </div>
  <div id="about" class="halves">
    <div class="half">
      <input id="email" name="email" type="text" placeholder="me@example.com" value="{{ form.email.value|default_if_none:"" }}">
      <label for="email">Email</label>
    </div>
    <div id="age-sex" class="half halves">
      <div>
        <input id="age" name="age" type="text" placeholder="Years" value="{{ form.age.value|default_if_none:"" }}">
        <label for="age">Age</label>
      </div>
      <div id="sex">
        <div class="sex">
          <input id="male" type="radio" name="sex" value="0" {% if form.sex.value == "0" %}checked{% endif %}> Male
          <input id="female" type="radio" name="sex" value="1" {% if form.sex.value == "1" %}checked{% endif %}> Female
        </div>
        <label for="sex">Sex</label>
      </div>
    </div>
  </div>
  <div id="passwords" class="halves">
    <div class="half">
      <input id="password1" name="password1" type="password" placeholder="Secret">
      <label for="password1">Password of at least eight characters</label>
    </div>
    <div class="half">
      <input id="password2" name="password2" type="password" placeholder="Secret">
      <label for="password2">Confirm password</label>
    </div>
  </div>
  <div class="buttons">
    <button id="submit" type="submit" disabled>Submit</button>
  </div>
</form>
<script type="text/javascript" src="{% static "js/event.js" %}"></script>
<script type="text/javascript" src="{% static "js/validation.js" %}"></script>
<script type="text/javascript" src="{% static "js/forms/register.js" %}"></script>
{% endblock %}
