{% extends "shared/base.html" %}

{% load static %}


{% block content %}
<h1>Register for the Study</h1>
<p>
  To register for the USC face study you will be required to provide your full name, email, age, and sex.
  Once you've registered and confirmed your email you'll be able to start taking the tests.
  When you're done, we'll send your results to the email you provide.
</p>
<p>
  Note that passwords must be at least eight characters.
</p>
<br>
<form id="register" method="post">
  {% csrf_token %}
  <div id="name">
    <div class="half">
      <input id="first_name" name="first_name" type="text" placeholder="First">
      <label for="first_name">First name</label>
    </div>
    <div class="half">
      <input id="last_name" name="last_name" type="text" placeholder="Last">
      <label for="last_name">Last name</label>
    </div>
  </div>
  <div id="about">
    <div class="half">
      <input id="email" name="email" type="text" placeholder="me@example.com">
      <label for="email">Email</label>
    </div>
    <div id="age-sex" class="half">
      <div id="age">
        <div class="date">
          <input id="year" name="year" type="text" placeholder="YYYY">
          <input id="month" name="month" type="text" placeholder="MM">
          <input id="date" name="date" type="text" placeholder="DD">
        </div>
        <label for="year">Birthday</label>
      </div>
      <div id="sex">
        <div class="sex">
          <input id="male" type="radio" name="sex" value="0"> Male
          <input id="female" type="radio" name="sex" value="1"> Female
        </div>
        <label for="sex">Sex</label>
      </div>
    </div>
  </div>
  <div id="passwords">
    <div class="half">
      <input id="password1" name="password1" type="password" placeholder="Secret">
      <label for="password1">Password</label>
    </div>
    <div class="half">
      <input id="password2" name="password2" type="password" placeholder="Secret">
      <label for="password2">Confirm password</label>
    </div>
  </div>
  <div class="buttons">
    <button id="submit" type="submit" disabled>Submit</button>
  </div>
</form>
<script type="text/javascript" src="{% static "js/forms/register.js" %}"></script>
{% endblock %}
