{% load sass_tags %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="USC Face Study Testing Site">
    <meta about="Register and take various face recognition tests for the USC Image Understanding Lab">
    <title>USC Face Study</title>
    <link href="{% sass_src "css/base.scss" %}" rel="stylesheet" type="text/css">
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block navigation %}
    <div id="navigation">
      <span class="red"><a href="{% url "home:index" %}">Image Understanding Lab</a></span>
      <span><a href="{% url "home:about" %}">About</a></span>
      <span>Contact</span>
      {% if user.is_authenticated %}
      <span><a href="{% url "tests:index" %}">Tasks</a></span>
      <span><a href="{% url "tests:results" %}">Results</a></span>
      {% endif %}
      <div class="right">
        {% if user.is_staff %}
        <span><a>Dashboard</a></span>
        <span><a href="{% url "home:logout" %}">Logout</a></span>
        {% elif user.is_authenticated %}
        <span><a>Account</a></span>
        <span><a href="{% url "home:logout" %}">Logout</a></span>
        {% else %}
        <span><a href="{% url "home:register" %}">Register</a></span>
        <span><a href="{% url "home:login" %}">Login</a></span>
        {% endif %}
      </div>
    </div>
    {% endblock %}
    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
