@import 'theme';

$padding: 16px;

form {
  font-weight: inherit;
}

input {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  padding: 6px 0;
  font-family: $font;
  font-size: inherit;
  font-weight: inherit;
}

input[type="radio"] {
  width: auto;
}

label {
  display: block;
  color: #666;
  font-size: 14px;
  margin-top: 2px;
}

button {
  color: $red;
  border: none;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  background-color: inherit;
  cursor: pointer;
}

button[disabled=disabled], button:disabled {
  color: gray;
}

.invalid {
  border-color: $red;
}

.date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  input {
    width: 1px;
  }

  #year { flex-grow: 0.5; }
  #month, #date {
    margin-left: 8px;
    flex-grow: 0.25;
  }
}

#register {

  #name, #about, #age-sex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  #age-sex {
    align-items: flex-end;

    #age {
      flex-grow: 1;
    }

    #sex {
      padding-left: 16px;
      display: block;

      #female {
        margin-left: 8px;
      }

      .sex {
        padding-bottom: 0.45em;
      }
    }
  }

  .buttons {
    text-align: center;
    margin-top: 2rem;
  }

  & > div {
    padding-bottom: 12px;
  }

  .half {
    width: calc(50% - #{$padding} / 2);
  }
}
